<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>TLSFilter</filter-name>
        <filter-class>com.salesforce.saml.TLSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TLSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SAMLServlet</servlet-name>
        <servlet-class>com.salesforce.saml.SAMLServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SAMLServlet</servlet-name>
        <url-pattern>/_saml</url-pattern>
    </servlet-mapping>

</web-app>



